<o-form service="customers" entity="customer" keys="CUSTOMERID"
 header-actions="R;I;U;D" show-header-navigation="no">

<o-column title="{{ CUSTOMER_DETAILS | oTranslate }}" fxFlex>
  <o-row>
    <o-text-input attr="CUSTOMERNAME" class="input-padding"></o-text-input fxFlex>
    <o-text-input attr="CUSTOMERSURNAME" class="input-padding"></o-text-input fxFlex>
    <o-text-input attr="CUSTOMERDNI" class="input-padding"></o-text-input fxFlex>
  </o-row>
  <o-row>
    <o-text-input attr="CUSTOMERADRESS" class="input-padding"></o-text-input fxFlex>
  </o-row>
  <o-row>
    <o-text-input attr="CUSTOMERTLF" class="input-padding"></o-text-input fxFlex>
    <o-text-input attr="CUSTOMEREMAIL" class="input-padding"></o-text-input fxFlex>
  </o-row>
</o-column>
</o-form>
