<o-form service="customers" entity="customer" keys="CUSTOMERID"
 header-actions="I;U" show-header-navigation="no" label-header="CUSTOMER_ADD">
  <o-row>
    <o-text-input attr="CUSTOMERNAME" fxFlex required="yes" max-length="50"></o-text-input>
    <o-text-input attr="CUSTOMERSURNAME" fxFlex required="yes" max-length="50"></o-text-input>
    <o-nif-input attr="CUSTOMERDNI" fxFlex required="yes"></o-nif-input>
  </o-row>
  <o-row>
    <o-text-input attr="CUSTOMERADDRESS" fxFlex max-length="200"></o-text-input>
  </o-row>
  <o-row>
    <o-text-input attr="CUSTOMERTLF" fxFlex min-length="9" max-length="9">
      <o-validator error-name="CustomerPhoneFormat" error-text="ERROR_CUSTOMER_PHONE_FORMAT" [validator-function]="validCustomerPhone"></o-validator>
    </o-text-input>
    <o-email-input attr="CUSTOMEREMAIL" fxFlex max-length="100"></o-email-input>
  </o-row>
</o-form>
