<o-form service="lendings" entity="lendingDetails" keys="L_LENDINGID" header-actions="R;I" show-header-navigation="yes">
  <o-text-input attr="L_LENDINGID" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <!-- <o-column title-label="CUSTOMER_PERSONAL_LENDING_INFORMATION" fxFlex>
      <o-row>
        <o-text-input attr="CUSTOMERNAME" class="input-padding"fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERSURNAME" class="input-padding" fxFlex></o-text-input>
        <o-integer-input attr="CUSTOMERID_LENDING" fxFlex></o-integer-input>
      </o-row>
    </o-column>

   <o-column title-label="COPY_INFORMATION" fxFlex>
      <o-row>
        <o-integer-input attr="COPYID_COPY" class="input-padding" fxFlex></o-integer-input>
      </o-row>
    </o-column>
  -->
    <o-column title-label="LENDING_INFORMATION" fxFlex>
      <o-row>
        <o-date-input attr="LENDINGDATE" label="LENDING_DATE"></o-date-input>
        <o-date-input attr="LENDINGDEADLINE" label="LENDING_DEADLINE"></o-date-input>
        <o-date-input attr="LENDINGRETURNDATE" label="LENDING_RETURN_DATE" read-only="yes"></o-date-input>
        <o-text-input attr="LENDINGNOTES" fxFlex></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
