<o-form service="lendings" entity="lendingDetails" keys="LENDINGID" editable-detail="no" header-actions="R">
  <div fxLayout="row" layout-padding fxLayoutAlign="center center">
    <o-button #newReservation *ngIf="isButtonNewReservationVisible" attr="newReservation"  (click)="clickAddReservation()" type="FLAT" label="NEW RESERVATION" layout-padding color="accent"></o-button>
    <o-button #closeLending *ngIf="isButtonCloseLendingVisible" attr="closelending" (click)="clickCloseLending()" type="FLAT" label="CLOSE LENDING" layout-padding color="accent"></o-button>
  </div>
  <o-text-input attr="LENDINGID" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-column title-label="CUSTOMER_PERSONAL_LENDING_INFORMATION" fxFlex>
    <o-row>
      <o-text-input attr="CUSTOMERNAME" class="input-padding"fxFlex></o-text-input>
      <o-text-input attr="CUSTOMERSURNAME" class="input-padding" fxFlex></o-text-input>
      <o-integer-input attr="CUSTOMERID_LENDING" fxFlex></o-integer-input>
    </o-row>
  </o-column>
  <o-column title-label="LENDING_INFORMATION" fxFlex>
    <o-row>
      <o-date-input attr="LENDINGDATE"></o-date-input>
    </o-row>
    <o-row>
      <o-date-input attr="LENDINGDEADLINE" ></o-date-input>
    </o-row>
    <o-row>
      <o-date-input #lendingReturnDate attr="LENDINGRETURNDATE" ></o-date-input>
    </o-row>
    <o-row>
      <o-text-input attr="LENDINGNOTES"  fxFlex></o-text-input>
    </o-row>
  </o-column>
  <o-table fxFlex attr="listCopies" title="COPIES_LIST" service="lendings" entity="copiesFromLending"
    keys="LENDINGID" columns="LENDINGID;COPYID;COPYCODE;COPYNOTES;BOOKTITLE" parent-keys="LENDINGID"
    visible-columns="COPYCODE;BOOKTITLE;COPYNOTES"  delete-button="no" show-title="true">
  </o-table>
  </o-form>

