<div fxLayout="row" layout-padding fxLayoutAlign="center center">
    <p>
        {{'WELCOME' | oTranslate}}
    </p>
</div>
<div>
  <o-table fxFlex attr="lendingsTable" service="lendings" entity="lendingsInProgressForUserLogin" delete-button="no"
               keys="LENDINGID"  query-rows="20"     refresh-button="no" quick-filter="false"
               title="{{ 'OPEN_LENDINGS' | oTranslate}}" show-title="true" insert-button="no" detail-form-route="/main/lendings/"
               columns="LENDINGID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE"
               visible-columns="LENDINGID;LENDINGDATE;LENDINGDEADLINE">
            <o-table-column attr="LENDINGID" title="LENDINGID" width="50px"></o-table-column>
            <o-table-column attr="LENDINGDATE" title="LENDINGDATE" type="date" format="LL" width="500px"></o-table-column>
            <o-table-column attr="LENDINGDEADLINE" title="LENDINGDEADLINE" type="date" format="LL"width="500px"></o-table-column>
            <o-table-column attr="LENDINGRETURNDATE" title="LENDINGRETURNDATE" type="date" format="LL"width="500px"></o-table-column>

   </o-table>
</div>
<div>
    <o-table fxFlex attr="reservationsTable" service="reservations" entity="reservationAvailableOnlyForUserLogin"
        keys="CUSTOMERID" query-rows="20" title="{{ 'AVAILABLE RESERVATIONS' | oTranslate }}" show-title="true"
        insert-button="no" refresh-button="no" delete-button="no" quick-filter="false"
        columns="BOOKTITLE;RESERVATIONDEADLINE" visible-columns="BOOKTITLE;RESERVATIONDEADLINE">
        <o-table-column attr="RESERVATIONDEADLINE" title="RESERVATIONDEADLINE" type="date" format="LL"></o-table-column>

    </o-table>
</div>
