<o-form editable-detail="no" service="customers" entity="customerUserData"
keys="CUSTOMERID" header-actions="R;I;U" show-header-navigation="no">
  <div o-form-toolbar-buttons>
    <button type="button" class="o-form-toolbar-button" mat-stroked-button (click)="resetPassword()">
      <mat-icon>restore</mat-icon>
      <span>{{ 'PASSWORD_RESTORE' | oTranslate}}</span>
    </button>
    </div>
<o-column title="{{ 'CUSTOMER_INFORMATION' | oTranslate}}" fxFlex>
    <o-row>
        <o-integer-input attr="CUSTOMERID"></o-integer-input>
        <o-text-input attr="USER_" fxFlex></o-text-input>
    </o-row>
    <o-row>
        <o-text-input attr="CUSTOMERNAME" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERSURNAME" fxFlex></o-text-input>
        <o-nif-input attr="CUSTOMERDNI" fxFlex></o-nif-input>
    </o-row>
    <o-row>
        <o-text-input attr="CUSTOMERADDRESS" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERTLF" fxFlex></o-text-input>
        <o-email-input attr="CUSTOMEREMAIL" fxFlex></o-email-input>
    </o-row>
</o-column>
</o-form>

