<o-form editable-detail="yes" service="customers" entity="customer"
keys="CUSTOMERID" header-actions="R;U" show-header-navigation="no">
<o-column title="{{ 'EDIT_CUSTOMER_DETAILS' | oTranslate}}" fxFlex>
    <o-row>
        <o-integer-input attr="CUSTOMERID" enabled="no" class="input-padding" fxFlex></o-integer-input>
    </o-row>
    <o-row>
        <o-text-input attr="CUSTOMERNAME" class="input-padding" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERSURNAME" class="input-padding" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERDNI" class="input-padding" fxFlex></o-text-input>
    </o-row>
    <o-row>
        <o-text-input attr="CUSTOMERADDRESS" class="input-padding" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMERTLF" class="input-padding" fxFlex></o-text-input>
        <o-text-input attr="CUSTOMEREMAIL" class="input-padding" fxFlex></o-text-input>
    </o-row>
</o-column>
</o-form>
