<o-form service="books" entity="book" keys="BOOKID" header-actions="R;U"
  show-header-navigation="no" detail-mode="none">
  <o-row>
    <o-text-input attr="BOOKID" sql-type="INTEGER" enabled="no"></o-text-input>
  </o-row>
  <o-row>
    <o-text-input attr="BOOKISBN" required="yes" min-length="13" max-length="13">
        <o-validator [validator-function]="validISBN">
          <o-error name="ISBNFormat" text="ERROR_ISBN_FORMAT"></o-error>
        </o-validator>
    </o-text-input>
  </o-row>
  <o-column title-label="BOOK_DETAILS" fxFlex>
    <o-row>
      <o-text-input attr="BOOKTITLE" required="yes" max-length="50"></o-text-input>
      <o-text-input attr="BOOKAUTHOR" required="yes" max-length="50"></o-text-input>
      <o-integer-input attr="BOOKPUBLICATIONYEAR">
        <o-validator [validator-function]="validBookPublicationYear">
          <o-error name="bookPublicationYearFormat" text="ERROR_BOOK_PUBLICATION_YEAR_FORMAT"></o-error>
          <o-error name="bookPublicationYearFormatToday" text="ERROR_BOOK_PUBLICATION_YEAR_TODAY_FORMAT"></o-error>
        </o-validator>
      </o-integer-input>
    </o-row>
    <o-row>
      <o-text-input  attr="BOOKEDITORIAL" max-length="50"></o-text-input>
      <o-integer-input attr="BOOKEDITION" max-length="3">
        <o-validator [validator-function]="validBookPageNumber">
          <o-error name="bookPageNumberFormat" text="ERROR_PAGE_NUMBER_FORMAT"></o-error>
        </o-validator>
      </o-integer-input>
      <o-integer-input attr="BOOKPAGENUMBER" max-length="4">
        <o-validator [validator-function]="validBookPageNumber">
          <o-error name="bookPageNumberFormat" text="ERROR_PAGE_NUMBER_FORMAT"></o-error>
        </o-validator>
      </o-integer-input>
    </o-row>
    <o-row>
      <o-textarea-input attr="BOOKDESCRIPTION" fxFlex=40 max-length="200"></o-textarea-input>
    </o-row>
  </o-column>
</o-form>
