<o-form service="copylendings" entity="copylending" keys="COPYLENDINGID" header-actions="R;I;U" show-header-navigation="no">
  <o-row>
    <o-column title-label="COPYLENDING_INFORMATION" fxFlex>
      <o-row>
        <o-integer-input attr="LENDINGID" fxFlex></o-integer-input>
      </o-row>
      <o-combo attr="COPYID" class="input-padding" service="copys" entity="copiesAvailable" keys="COPYID" columns="COPYID;BOOKTITLE"
          visible-columns="COPYID;BOOKTITLE"  value-column="COPYID" searchable="yes">
      </o-combo>
      <!--o-row>
        <o-integer-input attr="COPYID" fxFlex></o-integer-input>
      </o-row-->
    </o-column>
  </o-row>
</o-form>
