<o-form service="lendings" entity="lending" keys="LENDINGID" header-actions="R;I;U" show-header-navigation="no">
  <o-row>
    <o-column title-label="LENDING_INFORMATION" fxFlex>
      <o-row>
        <o-combo attr="CUSTOMERID" class="input-padding" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;CUSTOMERNAME;CUSTOMERSURNAME"
          visible-columns="CUSTOMERID;CUSTOMERNAME;CUSTOMERSURNAME"  value-column="CUSTOMERID" searchable="yes" fxFlex>
      </o-combo>
      </o-row>
      <o-row>
        <o-date-input #lendingdate attr="LENDINGDATE" [data]="getLendingDate()" read-only="yes" class="input-padding" fxFlex="40" required="yes"></o-date-input>
        <o-date-input attr="LENDINGDEADLINE" [data]="getDate()" class="input-padding" fxFlex="40" read-only="yes" required="yes"></o-date-input>
        <o-date-input attr="LENDINGRETURNDATE" class="input-padding" fxFlex="40"></o-date-input>
      </o-row>
      <o-row>
        <o-textarea-input attr="LENDINGNOTES" fxFlex></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>

