<o-form service="lendings" entity="lending" keys="LENDINGID" header-actions="R;I;U" show-header-navigation="no">
  <o-row>
    <o-column title-label="LENDING_INFORMATION" fxFlex>
      <o-row>
        <o-combo attr="CUSTOMERID" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;CUSTOMERNAME;CUSTOMERSURNAME"
          visible-columns="CUSTOMERID;CUSTOMERNAME;CUSTOMERSURNAME"  value-column="CUSTOMERID" searchable="yes" fxFlex>
      </o-combo>
      </o-row>
      <o-row>
        <o-date-input #lendingDate attr="LENDINGDATE" read-only="yes" fxFlex="40" required="yes"></o-date-input>
        <o-date-input #lendingDeadLine attr="LENDINGDEADLINE" fxFlex="40" read-only="yes" required="yes"></o-date-input>
      </o-row>
      <o-row>
        <o-textarea-input attr="LENDINGNOTES" fxFlex max-length="200"></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
