<div fxFlex>


<o-table fxFlex attr="lendingsTable" service="lendings" entity="lending" keys="LENDINGID"  query-rows="20"
             columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE"
             visible-columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE"  >
             <o-table-column attr="LENDINGID" title="LENDINGID" width="150px"></o-table-column>
             <o-table-column attr="CUSTOMERID" title="CUSTOMERID" width="150px"></o-table-column>
          <o-table-column attr="LENDINGDATE" title="LENDINGDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGDEADLINE" title="LENDINGDEADLINE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGRETURNDATE" title="LENDINGRETURNDATE" type="date" format="LL"></o-table-column>
 </o-table>
<!--

 <o-table fxFlex attr="lendingsTable" service="lendings" entity="expiredLending"
            title="PRESTAMOS VENCIDOS A FECHA DE HOY" keys="LENDINGID" insert-button="no"
             refresh-button="no" detail-mode="none" delete-button="no" query-rows="20"
             columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE"
             visible-columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE"  >
             <o-table-column attr="LENDINGID" title="LENDINGID" width="150px"></o-table-column>
             <o-table-column attr="CUSTOMERID" title="CUSTOMERID" width="150px"></o-table-column>
          <o-table-column attr="LENDINGDATE" title="LENDINGDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGDEADLINE" title="LENDINGDEADLINE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGRETURNDATE" title="LENDINGRETURNDATE" type="date" format="LL"></o-table-column>
 </o-table>
-->
</div>
