<div fxFlex>
<o-table fxFlex attr="lendingsTable" service="lendings" entity="lendingDetails" delete-button="no" keys="LENDINGID"  query-rows="20"
             columns="LENDINGID;LENDINGDATE;LENDINGDEADLINE;LENDINGRETURNDATE;CUSTOMERNAME;CUSTOMERSURNAME"
             visible-columns="LENDINGID;LENDINGDATE;LENDINGRETURNDATE;CUSTOMERNAME;CUSTOMERSURNAME">
          <o-table-column attr="LENDINGID" title="LENDINGID" width="50px"></o-table-column>
          <o-table-column attr="LENDINGDATE" title="LENDINGDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGRETURNDATE" title="LENDINGRETURNDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="CUSTOMERNAME" title="CUSTOMERNAME"></o-table-column>
          <o-table-column attr="CUSTOMERNAME" title="CUSTOMERNAME" width="50px"></o-table-column>
 </o-table>
</div>
