<div fxFlex>
<o-table fxFlex attr="lendingsTable" service="lendings" entity="lending" keys="LENDINGID"  query-rows="20"
             columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE"
             visible-columns="LENDINGID;CUSTOMERID;LENDINGDATE;LENDINGDEADLINE"  >
             <o-table-column attr="LENDINGID" title="LENDINGID" ></o-table-column>
             <o-table-column attr="CUSTOMERID" title="CUSTOMERID"></o-table-column>
          <o-table-column attr="LENDINGDATE" title="LENDINGDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="LENDINGDEADLINE" title="LENDINGDEADLINE" type="date" format="LL"></o-table-column>
 </o-table>
</div>
