<p>PANTALLA DEVOLUCION PRESTAMOS (INSERTE DATOS EN EL CAMPO DE ANOTACIONES)</p>
<o-form service="lendings" entity="lending" keys="LENDINGID" parent-keys = "LENDINGID" insert-button="no"
refresh-button="no" detail-mode="none" delete-button="no">
  <o-text-input attr="LENDINGID" sql-type="INTEGER" enabled="no"></o-text-input>

  <o-column title-label="LENDING_INFORMATION" fxFlex>
    <o-row>
      <o-date-input attr="LENDINGDATE" read-only ="yes"></o-date-input>
    </o-row>
    <o-row>
      <o-date-input attr="LENDINGDEADLINE" read-only="yes" ></o-date-input>
    </o-row>
    <o-row>
      <o-date-input attr="LENDINGRETURNDATE"  [data]="getValue()" ></o-date-input>
    </o-row>
    <o-row>
      <o-text-input attr="LENDINGNOTES" read-only="no" fxFlex max-length="200"></o-text-input>
    </o-row>
  </o-column>

  <o-table fxFlex attr="listCopies" title="LISTADO DE EJEMPLARES" service="lendings" entity="copiesFromLending"
    keys="LENDINGID" columns="LENDINGID;COPYID;COPYNOTES;BOOKTITLE" parent-keys="LENDINGID"
    visible-columns="COPYID;BOOKTITLE;COPYNOTES" show-title="true" insert-button="no"
    refresh-button="no" detail-mode="none" delete-button="no" query-rows="20" quick-filter ="false">
  </o-table>
</o-form>

