<o-form attr="books_form_detail" editable-detail="no" service="books" entity="book" keys="BOOKID" header-actions="R;I;U;"
  show-header-navigation="no">
  <o-row>
    <o-text-input attr="BOOKID" sql-type="INTEGER"></o-text-input>
  </o-row>
  <o-row>
    <o-integer-input attr="BOOKISBN" class="input-padding"></o-integer-input>
  </o-row>
  <o-column title-label="BOOK_DETAILS" fxFlex>
    <o-row>
      <o-text-input class="input-padding" attr="BOOKTITLE" fxFlex></o-text-input>
      <o-text-input class="input-padding" attr="BOOKAUTHOR" fxFlex></o-text-input>
      <o-integer-input attr="BOOKPUBLICATIONYEAR" fxFlex></o-integer-input>
    </o-row>
    <o-row>
      <o-text-input class="input-padding" attr="BOOKEDITORIAL" fxFlex></o-text-input>
      <o-integer-input attr="BOOKEDITION" class="input-padding" fxFlex></o-integer-input>
      <o-integer-input attr="BOOKPAGENUMBER" fxFlex></o-integer-input>
    </o-row>
    <o-row>
      <o-textarea-input attr="BOOKDESCRIPTION" fxFlex></o-textarea-input>
    </o-row>
  </o-column>


      <o-table fxFlex attr="copysTable" title="LISTADO DE EJEMPLARES" service="copys" entity="copiesWithShelving" keys="COPYID"
        columns="COPYCODE;BOOKID;SHELVINGPUBLICNAME;COPYNOTES" visible-columns="COPYCODE;SHELVINGPUBLICNAME;COPYNOTES"
        query-rows="20" quick-filter="false" export-button="false" delete-button="false" refresh-button="false"
        show-title="true" parent-keys="BOOKID" insert-button="true" insert-form-route="copies/new" edit-form-route="copies/edit">
      </o-table>


</o-form>




